{% extends "base.html" %}
{% block content %}
<script src = "/static/loginTest.js"></script>
<div class = "form-container">
    <form method = "POST">
        <input type="hidden" value = "johnsucks123 - bob"/>
        <input type = "text" name = "username" placeholder="Username" required><br>
        <input type = "password" name = "password" placeholder="Password" required><br>
        <button type = "submit">Login</button>
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, msg in messages %}
                <div class = "flash {{ category }}">{{ msg }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
{% endblock %}